// colors

$white: #ffffff;
$whitBlue: #F5F8FF;
$blue: #3C6AFF;
$black: #112258;

// Global CSS Styles

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    
}
body {
    background: url('../img/bg.svg') no-repeat;
    background-size: cover;
    
}

a {
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
}

.container{
    margin: 0px 8%;
    max-width: 1920px;
    
    
}
// Header Styles CSS
header {
    .container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        
        padding:20px 0px;
        .logo {
            img {
                width: 48px;
                border-radius: 100px; 
                vertical-align: top;
            }
        }
        .responsiveBtn {
            display:none;
            width:32px;
            vertical-align: top;
            
        }
        nav {
            
            a {
                text-decoration: none;
                color: $black;
                font-weight: 700;
                font-size: 0.750em;
                display: inline-block;
                margin-left: 30px;
                
                &:hover {
                    color: $blue;
                }
            }
            .important-btn-2 {
                color: $blue;
                border: $blue solid 2px;
                border-radius: 50px;
                padding: 5px 15px;
                

                &:hover {
                    color:$white;
                    background: $blue;
                    
                    
                }
            }
        }

    }
    
    
}

// About me Styles
.aboutMe {
    .container {
        display:flex;
        

        .presentation {
            
            p {
                
                min-width: 520px;
                margin-top: 120px;
                color:$black;
                font-size: 2em;
                line-height: 150%;
                
                
            }
            a {
                color:$white;
                background: $blue;
                text-decoration: none;
                display:inline-block;
                font-weight: 700;
                font-size: 0.875em;
                border-radius: 100px;
                padding: 10px 25px;
                margin-top: 20px;
                border: $blue solid 2px;
                &:hover {
                    background: none;
                    
                    color: $blue;
                    
                }
            }
        }
        .mockup {
            
            img {
                width:105%;
                min-width: 120px;
                max-width: 2400px;
                vertical-align: top;
                position: relative;
                left:30px;
                top: 20px;
                
            }
        }
    }
}

// Footer styles RRSS
.rrss {
        
    position:absolute;
    bottom:50px;
    a{
        margin-right: 10px;
        color: $black;
        &:hover {
            color: $blue;
        }
    }
}
// Window Modal Contact
@keyframes modalEfecto {
    from {background: rgba(17, 34, 90, 0.1);}
    to {background: rgba(17, 34, 90, 0.7);}
}

@keyframes salidaModal {
    from {background: rgba(17, 34, 90, 0.7);}
    to {background: rgba(17, 34, 90, 0.0);}
}

#modal_contacto {
    
    display:none;
    z-index: 1000;
    position:absolute;
    background: rgba(17, 34, 90, 0.7);
    top: 0px;
    width: 100%;
    height: 100%;
    animation-name: modalEfecto;
    animation-duration: 1s;
    
    
    
    .container {
        display:flex;
        align-items: center;
        margin: 0px;
        width: 100%;
        height: 100%;
        
        
        .contPrincipal {
            margin: 0px auto;
            background: $whitBlue;
            border-radius: 10px;

            
            animation: 1s;
            header {
                display:flex;
                justify-content:flex-end;
                .close {
                
                    padding: 0px 20px;
                    text-decoration: none;
                    color: $blue;
                    font-size: 2em;
                    display:inline-block;
                    
                    &:hover{
                        color:$black;
                    }
    
                }
            }
            
            

            .cont {
                padding-top: 10px;
                padding: 10px 40px 40px 40px;
                text-align:center;
                color: $black;
                .marginBottom {
                    margin-bottom: 10px;
                }
                .title {
                    font-size: 1.4em;
                    font-weight: 700;
                }
                .contInfo {
                    display:flex;
                    .boldTextModal {
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
    
    
                .btn {
                    color: $white;
                    font-weight: 700;
                    font-size: 0.875em;
                    text-decoration: none;
                    background: $blue;
                    border: $blue solid 2px;
                    padding: 5px 20px;
                    display:inline-block;
                    border-radius: 100px;
                    &:hover {
                       color: $blue;
                       background: none; 
                    }
                }
            }
        }
    }
    
}
// Responsive

@media screen and (max-width: 1024px) and (max-width: 800px) {
    header {
        .container {
            .responsiveBtn {
                display: inline-block;
            }
           
        }
    }
    .aboutMe {
        .container {
            display:flex !important;
            flex-direction: column !important;
        
        .presentation {
            p {
                font-size: 1.8em !important;
                margin-top: 100px !important;
                min-width: 400px !important;
            }
        }
    }
    }
}

@media screen and (max-width: 800px), (max-width: 700px) {
    header {
        .container{
            @keyframes despSuave{
                from {top: -10px;}
                to {down: 0px;}
            }
            
            .menuDesp {
                opacity: 0;
                top: 90px;
                left: 70%;
                position: absolute;
                display:flex !important;
                flex-direction: column !important;
                text-align:right;
                background: $whitBlue;
                box-shadow: rgba(17, 34, 90, 0.2) 0px 0px 10px; 
                padding: 20px;
                border-radius: 10px;
                
                a {
                     
                    margin: 10px;
                }
            }
            .opacity {
                opacity:1;
                animation-name: despSuave;
                animation-duration: 2s;
            }
        }

    }
    .rrss {
        position:relative;
        padding: 20px 0px;
    }
}

@media screen and (max-width: 700px) {
    header {
        .container{
            
            nav {
                top: 90px;
                left: 69% !important;
                
            }
        }

    }
}



@media screen and (max-width: 600px) {
    header {
        .container{
            
            nav {
                top: 90px;
                left: 65% !important;
                
            }
        }

    }
    .aboutMe {
        .container {
            .presentation {
                text-align: center;

            }
            .mockup {
                text-align:center;
                margin: 80px 0px;
                
                img {
                    position:relative;
                    top: initial;
                    left:initial;
                    width: 80% !important;
                }
            }

            
        }

    }

    .rrss {
        top: initial;
        position: relative;
        text-align:center;
        
        margin:40px 0px;
    }
}

@media screen and (max-width: 500px) {
    header {
        .container{
            
            nav {
                top: 90px;
                left: 59% !important;
                
            }
        }

    }
}

@media screen and (max-width: 400px) {
    header {
        .container{
            
            nav {
                top: 90px;
                left: 50% !important;
                
            }
        }

    }
    .aboutMe {
        .container{
            .presentation {
                p {
                    font-size: 1.2em !important;
                    margin-top: 100px !important;
                    min-width: 280px !important;
                }
                a {
                    font-size: 0.875em;
                }
            }
        }
    }
    .rrss {
        margin:20px 0px; 
    }
}


@media screen and (max-width: 320px) {
    header {
        .container{
            
            nav {
                top: 90px;
                left: 35% !important;
                
            }
        }

    }
    .aboutMe {
        .container{
            .presentation {
                p {
                    font-size: 1.2em !important;
                    margin-top: 100px !important;
                    min-width: 260px !important;
                }
                a {
                    font-size: 0.875em;
                }
            }
        }
    }

    .rrss {
        margin:20px 0px; 
    }
}